<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>黑名单</title>

    <!-- Bootstrap -->
    <link href="./lib/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    .css {
        -webkit-user-select: none
    }
</style>
<body id="app">

<div class="container">
    <div class="page-header">
        <h1>动动手指
            <small>列出你的黑名单</small>
        </h1>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." v-model="q">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" v-on:click="create">拉黑</button>
      </span>
    </div><!-- /input-group -->
    <p></p>
    <ul class="list-group">
        <template v-for="(key,item) in list | filterBy q in 'title' | orderBy order -1">
            <a class="list-group-item {{item.alert ? 'active' : ''}}"
               v-on:click="click(key,item)">
                <span class="badge">{{item| level}}({{item.down}}/{{item.up}})</span>
                {{item.title}}
            </a>
            <li v-if="key == inCtrl" class="list-group-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" v-on:click="doDown(key,item)">拉黑({{item.down}})
                    </button>
                    <button type="button" class="btn btn-default" v-on:click="doUp(key,item)">平反({{item.up}})
                    </button>
                </div>
            </li>
        </template>
    </ul>

</div>


<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./lib/vue.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./lib/js/bootstrap.min.js"></script>
<!-- WildVue -->
<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>

<script>
    Vue.filter('level', function (item) {

        try {
            var dl = item.down
            var ul = item.up
            var value = (dl + 1) / (dl + ul + 1)
            if (value > 0.6) {
                return "垃圾"
            }

            if (value > 0.4) {
                return "别去"
            }

            if (value > 0.2) {
                return "较差"
            }
        } catch (e) {
            return "异常"
        }
        return "正常"

    })
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',
            inCtrl: "",
            q: "",
            listRef: new Wilddog("https://blacklist.wilddogio.com/list"),
            list: {},
            alerts: {},
        },
        methods: {
            order: function (a, b) {
                return ((a.$value.down + a.$value.up) - (b.$value.down + b.$value.up))
            },
            create: function () {
                app.listRef.child(app.q).update({
                    title: app.q,
                })
            },
            click: function (key, item) {
                app.inCtrl = key
            },
            doDown: function (key, item) {
                app.listRef.child(key).child("down").transaction(function (current) {
                    return current + 1;
                });

            },
            doUp: function (key, item) {
                app.listRef.child(key).child("up").transaction(function (current) {
                    return current + 1;
                });
            },
            alert: function (key) {
                var n = {}
                for (var k in app.list[key]) {
                    n[k] = app.list[key][k]
                }
                n.alert = true
                app.list[key] = n

                setTimeout(function () {
                    n.alert = false
                    app.list[key] = n
                }, 300)
            },
        },
        ready: function () {

            this.listRef.on("value", function (snapshot) {
                if (Object.keys(app.list).length == snapshot.numChildren()) {
                    return
                }
                app.list = snapshot.val()

            }, function (errorObject) {
                console.log("The read failed: " + errorObject.code);
            });
            this.listRef.on("child_changed", function (snapshot) {

                app.list[snapshot.key()] = snapshot.val()
                app.alert(snapshot.key(), true)

            }, function (errorObject) {
                console.log("The read failed: " + errorObject.code);
            });

        }

    })
</script>
</body>
</html>